*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}
/*Logo*/
header .hero{
    width: 100%;
}
header nav#hero__top{
    background-color: #C69C39;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
header .hero__img{
    height: 80px;
    width: auto;
    margin: 0.625rem;
}
/*Logo*/

/* search bar */
.box{
    height: 30px;
    display: flex;
    flex-direction: row-reverse;
    padding: 1.875rem 3.75rem;
    background: #f4f3f2;
    border-radius: 1.875rem;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    gap: 20px;
}
.box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
    width: 450px;
}
.box a .fas{
    color: #1c1b21;
    font-size: 1.125rem;
}
/* search bar */

/* Save Bottom */
.saveBottom{
    height: 30px;
    display: flex;
    padding: 1.875rem;
    /* background: white; */
    align-items: center;
}
.saveBottom input{
    outline: none;
    border: none;
}
.saveBottom a .fa{
    /* color: red; */
    font-size: 0.5rem;
}
/* Save Bottom */
/* Drop-down Profile */
.user-pic{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 1.875rem;
}
.sub-menu-wrap{
    position: absolute;
    top: 8%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 100;
}
.sub-menu-wrap.open-menu{
    max-height: 400px;
}
.sub-menu-wrap__sub-menu{
    background-color: #f4f3f2;
    padding: 1.25rem;
    margin: 0.625rem;
}
div.sub-menu-wrap__sub-menu__user-info{
    display: flex;
    align-items: center;
}
div.sub-menu-wrap__sub-menu__user-info h3{
    font-weight: 500;
}
div.sub-menu-wrap__sub-menu__user-info img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 0.938rem;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #1c1b21;
    margin: 0.938rem 0 0.625rem;
}
.sub-menu-wrap__sub-meno-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #1c1b21;
    margin: 0.75rem 0;
}
.sub-menu-wrap__sub-meno-link p{
    width: 100%;
}
a.sub-menu-wrap__sub-meno-link i{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
    background-color: #C69C39;
    border-radius: 50%;
    padding: 0.5rem;
    margin-right: 0.938rem;
}
.sub-menu-wrap__sub-meno-link span{
    font-size: 0.938rem;
    transition: transform 0.5s;
}
.sub-menu-wrap__sub-meno-link:hover span{
    transform: translateX(5px);
    font-weight: 600;
}
.sub-menu-wrap__sub-meno-link:hover p{
    font-weight: 600;
}
/* Drop-down Profile */

/* top-box */
.top-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.563rem;
}
.top-box-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    margin: 0 1.563rem;
}
div.top-box-text h1{
    color: #C69C39;
}
div.top-box-text p{
    color: #f4f3f2;
}
img.top-box-bosses{
    height: 250px;
    width: auto;
}
/* top-box */

/* Container */

form.info-container h1{
    color: #C69C39;
    padding: 1.25rem;
    margin: 1.563rem;
}
form.info-container ul{
    background-color: #E30A13;
    display: flex;
    justify-content: space-around;
    padding: 1.25rem;
    margin: 1.563rem;
    border-radius: 1.563rem;
}
form.info-container li{
    list-style-type: none;
    color: #f4f3f2;
}

/* <!-- infoCards --> */
/* <!-- info --> */
section.sizeTextinfoCards{
    min-height: calc(100vh - 244px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div.sizeTextinfoCards__textinfoCards{
    background-color: #313131;
    border-radius: 1.563rem;
    text-align: center;
    padding: 1.563rem;
    margin: 1.563rem auto;
    width: 800px;
}
div.sizeTextinfoCards__textinfoCards h1{
    color: #C69C39;
    text-align: center;
}
div.tableContainer{
    max-height: 400px;
    max-width: 1200px;
    overflow: auto;
    position: relative;
    margin: 1.563rem auto;
    width: fit-content;
    padding-right: 0.625rem;
}
div.tableContainer::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 0.625rem;
	background-color: #31313163;
}

div.tableContainer::-webkit-scrollbar
{
	width: 12px;
	background-color: #31313163;
    border-radius: 0.75rem;
}

div.tableContainer::-webkit-scrollbar-thumb
{
	border-radius: 0.625rem;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #C69C39;
}
.tableContainer__infoCards{
    border-collapse:separate;
    border-spacing:0 0.938rem;
}
.tableContainer__infoCards thead{
    border: 0;
    position: sticky;
    top: 0;
}
.tableContainer__infoCards thead tr th{
    color: #f4f3f2;
    background-color: #E30A13;
    padding: 0.938rem;
}
.tableContainer__infoCards thead tr > :first-child, #infoCards tbody tr > :first-child{
    border-radius: 1.563rem 0 0 1.563rem;
}
.tableContainer__infoCards thead tr > :last-child, #infoCards tbody tr > :last-child{
    border-radius: 0 1.563rem 1.563rem 0;
}
.tableContainer__infoCards tbody tr td img{
    max-width: 60px;
    margin: 1.563rem auto;
}
.tableContainer__infoCards tbody tr td p{
    text-align: left;
    margin: 0.65rem;
}
.tableContainer__infoCards tbody tr td ul{
    text-align: left;
    margin-bottom: 0.65rem;
}

/* savecolor */
.tableContainer__infoCards--savecolor i{
    color: #696969;
}
.tableContainer__infoCards--savecolor.active i{
    color: #C69C39;
}
/* savecolor */

/* <!-- info --> */
.tableContainer__infoCards tbody tr{
    background-image: url(../resorces/TBOI_Pag/Backgrounds_Pag/infofondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.tableContainer__infoCards tbody tr td{
    color: #f4f3f2;
    text-align: center;
    min-width: 100px;
    padding: 0.938rem 0.625rem;
}
/* infoCards */

/* Footer */
footer{
    background-color: #000;
}
.footerContainer{
    background-color: #C69C39;
    width: 100%;
    padding: 1.25rem 1.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerContainer__socialIcons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footerContainer__socialIcons a.footerContainer__socialIcons--icon{
    text-decoration: none;
    padding: 0.625rem;
    background-color: #1c1b21;
    margin: 0.625rem;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerContainer__socialIcons a.footerContainer__socialIcons--icon:hover{
    background-color: #f4f3f2;
    transition: 0.5s;
}
.footerContainer__socialIcons a.footerContainer__logo{
    background: none;
}
.footerContainer__socialIcons a i{
    font-size: 1.563rem;
    color: #f4f3f2;
    opacity: 0.9;
}
.footerContainer__socialIcons a i:hover::before{
    color: #1c1b21;
    transition: 0.5s;
    border-radius: 50%;
}
/* Footer Effects */
.footerContainer__socialIcons a:hover{
    background-color: #f4f3f2;
    transition: 0.5s;
}
.footerContainer__socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 1.875rem 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
}
.footerNav ul li a{
    color: white;
    margin: 1.25rem;
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 0.7;
    transition: 0.5s;
}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #1c1b21;
    padding: 1.25rem;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.footerBottom__designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 0.063rem;
    font-weight: 400;
    margin: 0 0.313rem;
}
img.footerContainer__logo--img{
    height: 50px;
}
/* Footer Effects */
/* Footer */
